/*Titulo principal del pag.*/
.pag-title{
    text-align: center;
}
/*Boton Agregar*/
.pag-button-insert{
    margin: 10px 0px 4px 2px;/*arriba derecha abajo izquierda*/
}
/*Campos de formulario de la modal*/
.form-row{
    margin-bottom: 5px;
}