/*--- Diseño principal ---*/
* {
    box-sizing: border-box;
}
.menu, .section, .right {
    float:left;
    width:20%;
    text-align:center;
}
.menu a {
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
}
.section {
    width:60%;
    padding-left: 20px;
    text-align:justify;
    background-color: #eaeaf38f;
    box-shadow: 1px 0px 6px rgb(125, 125, 125);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.right {
    padding:15px;
    margin-top:7px;
}
#foot{
    box-shadow: 0px -1px 0px 0px;
    margin-top: 10px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .section, .right {
        width:100%;
    }
}
/*--- Barra de navegacion ---*/
.nav-bar{
    width: 270px;
    top:50%;
    left: 50%;
    transform: translate(-50%-50%);
    display: flex;
    margin-top: 10px;
    box-shadow: 0px 2px .1px 0px;
}
.nav-bar div{
    width: 37px;
    height: 37px;
    transition: all .5s;
    overflow: hidden;
}
.fa{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    font-size: 1.2rem;
}
.nav-bar div span{
    margin: 0 5px;
    padding-top: 7px;
    font-size: .9rem;
    font-family: 'Alata', sans-serif;
}
.nav-bar a{
    color: black;
    text-decoration: none;
}
.nav-bar div:hover{
    width: 120px;
}
/*--- Diseño index ---*/
.contenedor{
    position: relative;
    display: inline-block;
    width: 180px;
    height: 200px;
    margin-right: 16px;
    margin-top: 15px;
    box-shadow: 2px 2px 7px rgb(72, 72, 72);
    border-radius: 10px;
    overflow: hidden;
}
/*Index principal*/
#contenedor-img-html::before{
    background-image: url("../img/img_html.jpeg");
}
#contenedor-img-css::before{
    background-image: url("../img/img_css.jpeg");
}
#contenedor-img-js::before{
    background-image: url("../img/img_js.jpeg");
}
/*Index js*/
#contenedor-img-js-intro::before{
    background-image: url("../img/img_js_intro.png");
}
.contenedor::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s cubic-bezier(.46, 1.48, .18, .81);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Index principal, Index js*/
.layer, .layer-js{
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);/*Baja el layer*/
    transition: .7s cubic-bezier(.46, 1.48, .18, .81);
}
.layer-content{
    margin: .6rem;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
.layer-content a{
    text-decoration: none;/*quitar subrayado del link*/
    color: black;
}
.layer-content a p{
    color: white;
    padding: 3px;
    border-radius: 6px;
}
/*Index principal*/
.contenedor:hover .layer{
    transform: translateY(70%);/*sube el layer*/
}
/*Index js*/
.contenedor:hover .layer-js{
    transform: translateY(52%);/*sube el layer*/
}
.contenedor:hover::before{
    transform: scale(1.1);
}