.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%-50%);
    display: flex;
}
.main{
    width: 60px;
    height: 60px;
    background: #ffffff;
    transition: all .5s;
    overflow: hidden;
}
.fa{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 60px;
}
.main span{
    margin: 0 5px;
    font-size: .9rem;
    font-family: 'Alata', sans-serif;
}
.main:hover{
    width: 130px;
}